<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="jumbotron text-center">
    <style>
        body {
            background-color: #44473e;
        }

        h1 {
            color: red;
            text-align: center;
        }
        p {
            color: green;
            text-align: center;

        }

    </style>

    <h1 style="font-size:80px"; class="display-3">Thank You!</h1>

    <p style="font-size: 30px" class="lead"><strong>For Ordering with Us.</strong> Your Order Id is 10. Use it to track
        your Order...</p>

</div>

</body>
</html>