<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="jumbotron text-center">
    <style>
        body {
            background-color: #cbc7c7;
        }

        h1 {
            color: #0000ff;
        }
    </style>
    <h1 style="color: red;" class="display-3">Thank You!</h1>
    <p class="lead"><strong>For ordering with Us</strong> Your order is 10, Use it to track your order using our
        order track</p>

</div>

</body>
</html>